---
const { size, color, classes } = Astro.props;
let colorClasses = "";
switch (color || "default") {
  case "primary":
  case "fuchsia":
    colorClasses =
      "bg-fuchsia-400/10 text-fuchsia-400 ring-fuchsia-400/20";
    break;
  case "secondary":
  case "blue":
    colorClasses =
      "bg-blue-400/10 text-blue-400 ring-blue-400/30";
    break;
  case "success":
  case "green":
    colorClasses =
      "bg-green-500/10 text-green-400 ring-green-500/20";
    break;
  case "danger":
  case "error":
  case "red":
    colorClasses =
      "bg-red-400/10 text-red-400 ring-red-400/20";
    break;
  case "warning":
  case "yellow":
    colorClasses =
      "bg-yellow-400/10 text-yellow-500 ring-yellow-400/20";
    break;
  case "gray":
  case "light":
  case "default":
    colorClasses =
      "bg-gray-400/10 text-gray-400 ring-gray-400/20";
    break;
  default:
    colorClasses = color;
    break;
}
---
<span class:list={["inline-flex items-center rounded-md px-2 py-1 text-xs font-medium ring-1 ring-inset", colorClasses, classes]} {...Astro.props}><slot /></span>
