<nav>
    <ul class="flex flex-wrap gap-6 text-lg">
        <li>
            <a class="hover:text-fuchsia-500" href="/">About</a>
        </li>
        <li>
            <a class="hover:text-fuchsia-500" href="https://www.thedevfiles.com/" data-astro-reload>Blog</a>
        </li>
        <li>
            <a class="hover:text-fuchsia-500" href="/projects">Projects</a>
        </li>
        <li>
            <a class="hover:text-fuchsia-500" href="/contact">Contact</a>
        </li>
    </ul>
</nav>
