---
import { ClientRouter } from "astro:transitions";
import { pwaInfo } from 'virtual:pwa-info';
const { title } = Astro.props
---
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Jonathan Bernardi">
    <link rel="sitemap" href="/sitemap-index.xml" />
    { pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
    <script is:inline type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://jonbernardi.com",
        "name": "Jon Bernardi",
        "author": {
            "@context": "Person",
            "name": "Jonathan Bernardi",
            "familyName": "Bernardi",
            "givenName": "Jonathan",
            "jobTitle": "Web Developer",
            "sameAs": [
                "https://www.thedevfiles.com",
                "https://www.linkedin.com/in/jonathan-bernardi-99a31857/",
                "https://github.com/spekkionu"
            ]
        }
    }
    </script>
    <script src="../js/pwa.js"></script>
    <ClientRouter />
</head>
