---
import Container from "../../components/Container.astro";
import PageTitle from "../../components/PageTitle.astro";
import SiteLayout from "../../layouts/main.astro";
---

<SiteLayout title="projects">
  <Container>
    <PageTitle>Projects</PageTitle>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
    >
      <a href="/projects/project-1" class="block border rounded shadow p-4">
        <div
          class="w-full aspect-video bg-gray-400 mb-4"
          transition:name="project-1"
        >
        </div>
        <div class="text-2xl mb-2" transition:name="title-project-1">
          Project 1
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quis
          maxime beatae est corporis quidem dolorem sapiente eos dolores
          delectus id, facilis cum eum architecto accusantium officia fuga
          voluptas explicabo.
        </div>
      </a>
      <a href="/projects/project-2" class="block border rounded shadow p-4">
        <div
          class="w-full aspect-video bg-gray-400 mb-4"
          transition:name="project-2"
        >
        </div>
        <div class="text-2xl mb-2" transition:name="title-project-2">
          Project 2
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quis
          maxime beatae est corporis quidem dolorem sapiente eos dolores
          delectus id, facilis cum eum architecto accusantium officia fuga
          voluptas explicabo.
        </div>
      </a>
      <a href="/projects/project-3" class="block border rounded shadow p-4">
        <div
          class="w-full aspect-video bg-gray-400 mb-4"
          transition:name="project-3"
        >
        </div>
        <div class="text-2xl mb-2" transition:name="title-project-3">
          Project 3
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quis
          maxime beatae est corporis quidem dolorem sapiente eos dolores
          delectus id, facilis cum eum architecto accusantium officia fuga
          voluptas explicabo.
        </div>
      </a>
      <a href="/projects/project-4" class="block border rounded shadow p-4">
        <div
          class="w-full aspect-video bg-gray-400 mb-4"
          transition:name="project-4"
        >
        </div>
        <div class="text-2xl mb-2" transition:name="title-project-4">
          Project 4
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quis
          maxime beatae est corporis quidem dolorem sapiente eos dolores
          delectus id, facilis cum eum architecto accusantium officia fuga
          voluptas explicabo.
        </div>
      </a>
      <a href="/projects/project-5" class="block border rounded shadow p-4">
        <div
          class="w-full aspect-video bg-gray-400 mb-4"
          transition:name="project-5"
        >
        </div>
        <div class="text-2xl mb-2" transition:name="title-project-5">
          Project 5
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quis
          maxime beatae est corporis quidem dolorem sapiente eos dolores
          delectus id, facilis cum eum architecto accusantium officia fuga
          voluptas explicabo.
        </div>
      </a>
      <a href="/projects/project-6" class="block border rounded shadow p-4">
        <div
          class="w-full aspect-video bg-gray-400 mb-4"
          transition:name="project-6"
        >
        </div>
        <div class="text-2xl mb-2" transition:name="title-project-6">
          Project 6
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quis
          maxime beatae est corporis quidem dolorem sapiente eos dolores
          delectus id, facilis cum eum architecto accusantium officia fuga
          voluptas explicabo.
        </div>
      </a>
      <a href="/projects/project-7" class="block border rounded shadow p-4">
        <div
          class="w-full aspect-video bg-gray-400 mb-4"
          transition:name="project-7"
        >
        </div>
        <div class="text-2xl mb-2" transition:name="title-project-7">
          Project 7
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quis
          maxime beatae est corporis quidem dolorem sapiente eos dolores
          delectus id, facilis cum eum architecto accusantium officia fuga
          voluptas explicabo.
        </div>
      </a>
      <a href="/projects/project-8" class="block border rounded shadow p-4">
        <div
          class="w-full aspect-video bg-gray-400 mb-4"
          transition:name="project-8"
        >
        </div>
        <div class="text-2xl mb-2" transition:name="title-project-8">
          Project 8
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quis
          maxime beatae est corporis quidem dolorem sapiente eos dolores
          delectus id, facilis cum eum architecto accusantium officia fuga
          voluptas explicabo.
        </div>
      </a>
    </div>
  </Container>
</SiteLayout>
